<%= form_tag sessions_path, class: 'form-signin' do %>
  <h2 class="form-signin-heading">Please sign in</h2>
    <%= text_field_tag  :email, params[:email], placeholder: "Email address", class: 'form-control' %>
    <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control' %>
  <%= submit_tag "Sign in", class: "btn btn-lg btn-primary btn-block" %>
<%= link_to "Forgot your password", forgot_password_path, class: "forgot-password-link" %>
<% end %>
