<%= form_for(@customer) do |f| %>
<% if @customer.errors.any? %>
  <div id="errors"  class="alert alert-danger">
    <p><strong>Please correct the following <%= pluralize(@customer.errors.count, "error") %>:</strong></p>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg  %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <% if @customer.photo.present? %>
      <%= image_tag @customer.photo.url(:medium) %>
    <% end %>
      <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :gps_location %><br>
    <%= f.text_field :gps_location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :id_pp, "ID/PPNumber" %><br>
    <%= f.text_field :id_pp, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :number_in_household %><br>
    <%= f.number_field :number_in_household %>
  </div>

  <div class="form-group">
    <%= f.check_box :terms_agreed %> <%= f.label :terms_agreed %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, class: 'datepicker' %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date, class: 'datepicker' %>
  </div>

  <div class="form-group">
    <%= f.label :end_date_reason %><br>
    <%= f.text_area :end_date_reason, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :power_pack_paid %>
    <%= f.label :power_pack_paid %>
  </div>

  <div class="form-group">
    <%= f.check_box :lease_stove %>
    <%= f.label :lease_stove, "Own Stove" %>
  </div>

  <div class="form-group">
    <%= f.label :stove_number %>
    <%= f.text_field :stove_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box :installed %> <%= f.label :installed %>
  </div>

    <div class="form-group">
    <label>Fuel used now to heat</label><br>
    <div class="checkbox">
      <label>
        <%= f.check_box :heat_kerosene %> Kerosene
      </label>

      <label>
        <%= f.check_box :heat_coal %> Coal
      </label>

      <label>
      <%= f.check_box :heat_wood %> Wood
      </label>

      <label>
      <%= f.check_box :heat_charcoal %> Charcoal
      </label>

      <label>
      <%= f.check_box :heat_lpg %> LPG
      </label>

      <label>
      <%= f.check_box :heat_cng %> CNG
      </label>

      <label>
      <%= f.check_box :heat_electricity %> Electricity
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Fuel used now to cook</label><br>
    <div class="checkbox">
      <label>
        <%= f.check_box :cook_kerosene %> Kerosene
      </label>

      <label>
        <%= f.check_box :cook_coal %> Coal
      </label>

      <label>
      <%= f.check_box :cook_wood %> Wood
      </label>

      <label>
      <%= f.check_box :cook_charcoal %> Charcoal
      </label>

      <label>
      <%= f.check_box :cook_lpg %> LPG
      </label>

      <label>
      <%= f.check_box :cook_cng %> CNG
      </label>

      <label>
      <%= f.check_box :cook_electricity %> Electricity
      </label>
    </div>
  </div>



    <% if current_user.agent? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% elsif %>
  <div class="form-group">
    <%= f.label :user_id, "Organization" %><br>
    <%= f.select :user_id, current_user.all_agents.pluck(:fname, :id), (@customer.user_id.nil? ? {:include_blank => "Select Agent"} : {:selected => @customer.user_id}) , { :class => "form-control" } %>

   </div>
  <% end %>

  <div class="actions">
    <p><%= f.submit :class => "btn btn-success" %></p>
  </div>
<% end %>

