<h1><%= @product.name %></h1>
<p><%= link_to "Edit", edit_product_path(@product) %> | 
<%= link_to("Delete", product_path(@product), method: :delete, data: {confirm: "Do you want to delete this?"}) %></p>
<p>Price: <%= @product.price %></p>

<p>Product Code: <%= @product.code %></p>